%h1= @entry.code

- if @entry.kind_of?(Link)
  %h2= "Link: #{@entry.destination}"

- if @entry.kind_of?(Directory)
  %ul
    - @entry.references.each do |ref|
      %li{ item: { type: ref.entry.type.downcase } }
        = link_to ref.name, "/e/#{ref.entry.code}"
        
- if @entry.kind_of?(Blob)
  %h2 Blob

- if @entry.parents.any?
  %h2 References:

  %ul
    - @entry.parents.each do |ref|
      - ref.directories.each do |dir|
        %li{ item: { type: ref.entry.type.downcase } }
          = link_to "#{ref.name} (in #{dir.code})", "/e/#{dir.code}"
