!!! 5
%html
  %head
    %title Tip
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    %ul.nav.nav-tabs.nav-justified
      %li.active{ role: :presentation }= link_to 'Mounts'
      - if @open_files.empty?
        %li{ role: :presentation }= link_to '/'
      - else
        - @open_files.each do |file|
          %li{ role: :presentation }= file.name
      %li{ role: :presentation }
        .glyphicon.glyphicon-link
    
    = yield

