%h1= @hash

- if @entry.kind_of?(Directory)
  %ul
    - @entry.references.each do |ref|
      %li= link_to ref.name, "/l/#{ref.entry.code}"
- elsif @entry.kind_of?(Link)
  %h2= "Link: #{@entry.destination}"
- else
  %h2 Blob
